body{
    background-color:  rgb(211, 111, 128);
    color: whitesmoke;
    text-align: center;

}

#text,#text-content{
    font-size: 24pt;
}

button{
    width: 20%;
    padding: 15px 25px;
    font-size: 24px;
    box-shadow: 0 9px pink;
    border-radius: 15px;
    border: none;
}
